.about {
<<<<<<< HEAD
    font-size: 35px;
}

.navbar {
    color: deeppink;
}

.glyphicon-earphone {
    font-size: 20px;
    padding-right: 10px;
}

.glyphicon-envelope {
    font-size: 20px;
    padding-right: 10px;
=======
	font-size: 35px;
}

.navbar {
	color: deeppink;
}

.glyphicon-earphone {
	font-size: 20px;
	padding-right: 10px;
}

.glyphicon-envelope {
	font-size: 20px;
	padding-right: 10px;
>>>>>>> refs/remotes/origin/master
}
